
.smartcms_admin_page {
    display: inline-block;
	width: 100%;
}
.scwspd_upload {
    float: left;
    width: 100%;
}
.scwspd_upload_header {
    float: left;
    font-weight: bold;
    width: 100%;
}
.scwspd_upload_add {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.scwspd_upload_add_title {
    border: 1px solid #ccc;
    float: left;
}
.scwspd_upload_add_image {
    border: 1px solid #ccc;
    float: left;
}
.scwspd_upload_add_upload {
    background: teal none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    text-align: center;
    width: 100px;
}
.scwspd_upload_add_button {
    background: #016200 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    margin-top: 1px;
    text-align: center;
    width: 50px;
}
.scwspd_upload_add_color {
    float: left;
    height: 28px;
}
.scwspd_images {
    border-top: 2px solid #ccc;
    float: left;
    margin-top: 20px;
    width: 100%;
}
.scwspd_images_item {
    border-bottom: 1px solid #ccc;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    width: 100%;
}
.scwspd_images_item_preview {
    float: left;
    height: 50px;
}
.scwspd_images_item_color{
	margin-left: 10px;
}
.scwspd_images_item_title,
.scwspd_images_item_image {
    margin-left: 10px;
	border: 1px solid #ccc;
}
.scwspd_images_item_upload {
    background: teal none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 100px;
}
.scwspd_images_item_save {
    background: #015400 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 50px;
	margin-left: 10px;
}
.scwspd_images_item_delete {
    background: #8c0000 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 70px;
}
.scwspd_qtymanage {
    border-top: 2px solid;
    float: left;
    width: 100%;
}
.scwspd_qtymanage_add {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.scwspd_qtymanage_add_header {
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}
.scwspd_qtymanage_add_label, .scwspd_qtymanage_add_price {
    border: 1px solid #ccc;
    float: left;
}
.scwspd_qtymanage_add_button {
    background: #015500 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    text-align: center;
    width: 50px;
}
.scwspd_qtymanage_content {
    border-top: 1px solid #ccc;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.scwspd_qtymanage_item {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.scwspd_qtymanage_item_label,
.scwspd_qtymanage_item_price {
    border: 1px solid #ccc;
    float: left;
}
.scwspd_qtymanage_item_save {
    background: teal none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    text-align: center;
    width: 50px;
}
.scwspd_qtymanage_item_delete {
    background: #a20000 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    margin-top: 1px;
    text-align: center;
    width: 70px;
}
