
.scwspd_yourdesign {
    box-shadow: none !important;
    color: #000;
}
.scwspd_group {
    /*border: 1px solid #ccc;*/
    box-shadow: none !important;
    float: left;
    margin: 5px;
}
#cboxContent > button {
    font-size: 12px;
}
.scwspd_color {
    border: 1px solid #ccc;
    float: left;
    margin-right: 5px;
    text-indent: -9999em;
    width: 30px;
}
.scwspd_yourdesign_item {
    /*border: 1px solid #ccc;*/
    float: left;
    margin-top: 5px;
    width: 100%;
}
.scwspd_yourdesign_item_title {
    float: left;
    margin-left: 5px;
}
.scwspd_yourdesign_item_color {
    float: left;
    height: 30px;
    margin-left: 10px;
    text-indent: -9999em;
    width: 30px;
	margin-bottom: 5px;
}
.scwspd_yourdesign_item_qty {
    float: left;
    margin-left: 5px;
}